text.label {
    font: 12px sans-serif;
}

text.title {
    font: 18px serif;
}

text.legend {
    font: 12px serif;
}

.dot {
    stroke: steelblue;
}
.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}