/* Sebastiaan Arendsen
 * 6060072
 * Minor Programmeren - Data Processing
 */

.axis .domain {
    display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
.title {
    font-size: 30px;
    text-anchor: middle;
}
.title text {
    font-size: 22px;
    text-anchor: middle;
}